/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    background-image: url('https://images.pexels.com/photos/1672813/pexels-photo-1672813.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-attachment: fixed; /* fixar a imagem de fundo */
    background-position: center; /* centralizar a imagem de fundo */
    color: #fff;
}

header {
    text-align: center;
    padding: 5% 0;
    position: relative;
    background-color: rgba(255, 255, 255, 0.664);
    padding: 50px;
}

.logo {
    position: absolute;
    top: 10px;
    left: 10px;
}

.logo img {
    width: 145px;
    height: auto;
    border-radius: 50%;
}

nav {
    text-align: center;
    padding: 15px;
    padding-inline: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Center horizontally */
    flex-wrap: wrap; /* Wrap items on small screens */
    transition: 1s;
}

nav ul li {
    display: inline-block;
    margin: 25px;
    position: relative; /* Adicione esta linha */
    top: -100px; /* Ajuste este valor conforme necessário */
    left: 50px;
}

nav ul li.watching a {
    color: rgb(172, 15, 15);
    transition: 1s;
}

nav ul li.watching a:hover {
    color: rgb(255, 0, 0);
    font-size: 38px;
    transition: 1s;
}

nav ul li a {
    color: rgb(34, 58, 145);
    text-decoration: none;
    padding: 20px 40px;
    border-radius: 20px;
    transition: background-color 1s, border-color 1s;
    font-family: 'Barlow-Medium', 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 35px;
    transition: 1s;
}

nav ul li a:hover {
    font-size: 38px;
    transition: 1s;
    color: rgb(95, 116, 192);
    text-decoration: underline;
    font-weight: bolder;
}

.video {
    width: 450px;
    height: 350px;
    margin: 0 auto;
    display: inline-block;
    margin-top: 30px;
    margin-left: 150px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.video2 {
    width: 450px;
    height: 350px;
    margin: 0 auto;
    display: inline-block;
    margin-top: 30px;
    margin-left: 150px;
    margin-bottom: 20px;
    border-radius: 10px;
}

/* Media Query for Mobile Devices */
@media screen and (max-width: 768px) {

    html, body {
        background-image: url('https://images.pexels.com/photos/34098/south-africa-hluhluwe-giraffes-pattern.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
        background-size: cover; /* Ajustar tamanho da imagem */
        background-position: center; /* Centralizar a imagem de fundo */
    }
    
    header {
        padding: 10% 0;
    }
    
    .logo {
        top: 10px;
        left: 10px;
    }
    
    .logo img {
        width: 80px;
    }

    nav {
        display: inline;
        text-align: center;
        padding-inline: 30px;
        margin-inline: 20px;
    }
    
    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center; /* Center horizontally */
        flex-wrap: wrap; /* Wrap items on small screens */
        transition: 1s;
    }
    
    nav ul li {
        display: inline-block;
        margin: 0 15px; /* Adjust spacing between items */
        transition: 1s;
    }

    nav ul li a {
        color: rgb(34, 58, 145);
        text-decoration: none;
        display: grid;
        border-radius: 20px;
        transition: background-color 1s, border-color 1s;
        font-family: 'Barlow-Medium', 'Courier New', Courier, monospace;
        font-weight: bolder;
        font-size: 18px;
        transition: 1s;
        margin-right: 30px;
        justify-content: center;
    }
    
    nav ul li a:hover {
        font-size: 20px;
        transition: 1s;
        color: rgb(67, 91, 179);
        text-decoration: underline;
        font-weight: bolder;
    }

    nav ul li.watching a {
        color: #ac0f0f;
        transition: 1s;
    }

    nav ul li.watching a:hover {
        color: #ff0000;
        font-size: 20px;
        transition: 1s;
    }

    /* mobile */
    html, body {
        background-image: url('https://images.pexels.com/photos/19360293/pexels-photo-19360293/free-photo-of-ponto-de-referencia-ponto-historico-viagem-historia.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
        background-size: cover; 
        background-position: center;
    }

    .video {
        width: 70%;
        height: 500px;
        border-radius: 10px;
        margin-top: 30px;
        margin-left: 20px;
    }

    .video2 {
        width: 70%;
        height: 500px;
        border-radius: 10px;
        margin-top: 30px;
        margin-left: 20px;
    }
}
